<section class="product-info">
    <header class="product-info__header"></header>
    <h1 class="product-info__title"></h1>
    <p class="product-info__description"></p>

    <div class="product-info__price">
        <div class="price-main">
            <p class="price"></p>
            <span class="discount-percent"></span>
        </div>
        <div class="price-discount"></div>
    </div>

    <div class="product-info__buy">
        <div class="product-quantity"></div>
        <button class="buy-product"></button>
    </div>

</section>
