<section class="p-6 flex flex-col gap-3 md:h-full md:justify-center">
    <header class="">
        <h2 class="uppercase font-bold text-xs  tracking-widest text-Orange">sneaker company</h2>
    </header>
    <h1 class="font-bold text-3xl md:text-4xl">
        Fall Limited Edition Sneakers
    </h1>
    <p class="text-Dark-grayish-blue text-base">
        These low-profile sneakers are your perfect casual wear companion. Featuring a durable rubber outer sole, they’ll withstand everything the weather can offer.
    </p>

    <div class="flex md:flex-col justify-between items-center md:items-start my-4">
        <div class="flex items-center gap-5">
            <p class="font-bold text-3xl">$125.00</p>
            <span class="px-2 bg-Pale-orange rounded-sm text-Orange font-bold">50%</span>
        </div>
        <!-- price-discount -->
        <div class="font-bold text-Grayish-blue line-through">$250.00</div>
    </div>

    <!-- product-info__buy -->
    <div class="flex flex-col gap-4 md:flex-row">
        <!-- product-quantity -->
        <div class="bg-Light-grayish-blue px-6 py-4 rounded-lg flex justify-between md:basis-36">
            <button>
                <img src="../../../assets/icons/icon-minus.svg" alt="">
            </button>
            <div class="font-bold">
                0
            </div>
            <button>
                <img src="../../../assets/icons/icon-plus.svg" alt="">
            </button>
        </div>
        <!-- buy-product -->
        <!--TODO: fix icon-->
        <button class="flex gap-4 font-bold bg-Orange text-White w-full md:w-auto justify-center px-6 py-4 rounded-lg flex-1">
            <img class="" src="../../../assets/icons/icon-cart.svg">Add to cart
        </button>
    </div>

</section>
