@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    html {
        font-family: 'Kumbh Sans', 'Courier New', Courier, monospace;
        font-weight: 400;
        max-width: 980px;
        margin: 0 auto;
    }
}
